:root {
    --font-family-reqular: system-ui, "Segoe UI", Roboto, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: monospace, system-ui, "Segoe UI", Roboto, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-reqular)
}

body{
    background-image: linear-gradient(purple, red);
    height: 100vh;
    padding: 24px;
}

.game-div{
    background-color: rgb(72, 72, 202);
    border: 16px solid rgb(56, 56, 117);
    border-radius: 24px;
    box-shadow: 1px 1px 48px rgba(0, 0, 0, 0.253);
    height: 100%;
    display: grid;
    grid-template-rows: min-content min-content 35% min-content;
    justify-items: center;
    gap: 24px;
    container-type: size;
    --gameboard-width: 40cqh;
}

h1{
    margin: 24px 0 8px 0;
    font-family: var(--font-family-monospace);
    font-size: 3em;
}

.display-scores {
    padding: 12px 24px;
    background-color: rgb(255, 228, 196);
    box-shadow: 1px 1px 10px;
    border-radius: 24px;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: max-content min-content min-content;
}


.player-up-score,
.player-down-score,
.player-up-mark,
.player-down-mark,
.display-scores .colon
 {
    padding-left: 24px;
} 

.display-scores .colon{
    grid-area: 2/2/3/3;
    justify-self: center;
    font-size: 0.8rem;
}

.display-scores .player-down-name {
    grid-area: 3/1/4/2
}
.display-scores .player-down-score {
    grid-area: 3/2/4/3
}
.display-scores .player-down-mark {
    grid-area: 3/3/4/4
}

.player-up-mark,
.player-down-mark{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 60%;
}


.gameboard {
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #fff;
    border-radius: 24px;
    border: 8px solid rgb(56, 56, 117);
    box-shadow: 0 0 10px black

}

.gameboard-square {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 60%;
}

.gameboard-square:nth-child(n+7){
    border-bottom: none;
}

.gameboard-square:nth-child(3n+3){
    border-right: none;
}

.gameboard-square:nth-child(-n+3){
    border-top: none;
}

.gameboard-square:nth-child(3n+1){
    border-left: none;
}

.gameboard-square:hover {
    background-color: #ccc;
}

.gameboard-square:active {
    background-color: #c9aaaa
}

.gameboard-square:hover:nth-child(1),
.gameboard-square:active:nth-child(1) {
    border-top-left-radius: 24px;
}
.gameboard-square:hover:nth-child(3),
.gameboard-square:active:nth-child(3) {
    border-top-right-radius: 24px;
}
.gameboard-square:hover:nth-child(7),
.gameboard-square:active:nth-child(7) {
    border-bottom-left-radius: 24px;
}
.gameboard-square:hover:nth-child(9),
.gameboard-square:active:nth-child(9) {
    border-bottom-right-radius: 24px;
}


.display-sentence {
    align-self: center;
    justify-self: center;
    font-family: var(--font-family-monospace);
}

.display-sentence-container{
    background-color: rgb(255, 133, 190);
    width: 80%;
    padding: 10px;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.2);
}


.settings-form {
    display: grid;
    width: max-content;
    gap: 8px;
    margin: 0 auto;
    padding: 16px;
    background-color: rgb(238, 72, 149);
    border-radius: 16px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.247);
    margin-bottom: 16px;
}
.settings-form div {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

.settings-form label {
    font-size: 0.9rem;
    align-self: center;
}

[hidden] {
    display: none !important;
}

.game-manager {
    width: var(--gameboard-width);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.game-manager>button{
    height: min-content;
    width: 30%;
}

.settings-form button,
.game-manager>button{
    padding: 5px 10px;
    border-radius: 8px;
    min-width: max-content;
    border: none;
    outline: none;
    box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.2);
    background-color: rgb(255, 228, 196);
    cursor: pointer;
}

.settings-form button:hover,
.game-manager>button:hover {
    background-color: rgb(240, 216, 188)
}

.settings-form input:not([type = "checkbox"]){
    border-radius: 8px;
    padding: 4px 0 4px 0.5em;
    margin-left: 4px;
    border: none;
    outline-color: blue;
}


